@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-bg: #faf4f0;
  --ui-text: #0e0c0b;
  --ui-primary: #a30606;
  --ui-secondary: #b3c3b1;
  --ui-accent: #99b0a2;
}

body {
  width: 100%;
  max-width: 1980px;
  margin-inline: auto;
  position: relative;
  font-family: "Noto Sans", sans-serif;
}

@theme {
  --font-lobster: "Lobster", sans-serif;
  --font-noto: "Noto Sans", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --color-bg: var(--ui-bg);
  --color-accent: var(--ui-accent);
}

p {
  font-family: "Noto Sans", sans-serif;
}

@font-face {
  font-family: "Lobster";
  src: url("~/assets/fonts/LobsterTwo-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans";
  src: url("~/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Nunito";
  src: url("~/assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 200 900;
}
